body .sitecontent {
  margin: 0 auto;
  background-color: white; }

  img{
    width:100%;
  }

.navbar {
  position: relative; }
  .navbar li:first-child {
    background-color: #78AB4E; }
    .navbar li:first-child a {
      color: white; }
    .navbar li:first-child:hover {
      background-color: #6c9946; }

@media screen and (min-width: 900px) {
  #search {
    position: absolute;
    right: 0;
    top: 0; } }

.header{
  margin-top: 30px;
}
#login {
  text-align: right; }

#cat {
  width: 80%;
  margin: 50px auto 0 auto; }
  #cat figure {
    position: relative;
    text-align: center;
    border: 1px solid black; }
    #cat figure img {
      width: 60%; }
    #cat figure figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      color: white; }
    #cat figure:hover figcaption {
      top: 0;
      padding-top: 30%; }

#recherche, #ajout {
  width: 80%;
  margin: 20px auto; }

.breadcrumb {
  margin-left: 10px; }

#block_recherche {
  background-color: rgba(64, 72, 82, 0.5);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 30px auto;
  width: 90%; }
  @media screen and (min-width: 900px) {
    #block_recherche {
      width: 60%; } }
  #block_recherche input, #block_recherche select {
    width: 90%;
    max-width: 250px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    display: block;
    font-size: 18px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px auto; }

#resultat #block_rez {
  border-bottom: 1px solid;
  border-top: 1px solid; }
#resultat a div {
  color: initial;
  font-style: initial;
  font-weight: initial; }
  #resultat a div img {
    width: 100%;
    max-width: 160px; }

#annonce {
  width: 80%;
  margin: 0 auto; }
  #annonce div img {
    width: 100%; }
  #annonce #block_contact {
    text-align: center;
    border: 1px solid;
    padding: 10px; }

#ajout form {
  background-color: rgba(64, 72, 82, 0.4);
  padding: 20px;
  border-radius: 5px;
  /* firefox 19+ */
  /* ie */ }
  #ajout form input, #ajout form textarea, #ajout form select {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1px; }
  #ajout form ::-webkit-input-placeholder {
    color: black; }
  #ajout form ::-moz-placeholder {
    color: black; }
  #ajout form :-ms-input-placeholder {
    color: black; }
  #ajout form input:-moz-placeholder {
    color: black; }

footer {
  position: absolute;
  background-color: #404852;
  left: 0;
  right: 0;
  padding: 5px 10px;
  color: white;
  margin-top: 15px; }

/*# sourceMappingURL=custom.css.map */
