<!DOCTYPE html>
<html>
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>
  {{include ("menu.twig")}}



  <div class="sitecontent">

    <div class="header">
      <h1>lebonappart</h1>
      <h2 class="sub">Leader des petites annonces immobilières</h2>
    </div>



  <div class="row" id="cat">

    <div class="col-12 col-md-4 col-l-4">
      <a href="ajout">
        <figure>
          <img src="images/deposer.jpg">
          <figcaption>Déposer une annonce</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-12 col-md-4 col-l-4">
      <a href="annonces">
        <figure>
          <img src="images/immeuble.png">
          <figcaption>Toutes nos annonces</figcaption>
        </figure>
      </a>
    </div>
    <div class="col-12 col-md-4 col-l-4">
      <a href="recherche">
        <figure>
          <img src="images/recherche.jpg">
          <figcaption>Recherche</figcaption>
        </figure>
      </a>
    </div>


  </div>
</div>
</body>
</html>
