<!DOCTYPE html>
<html>
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>recherche - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include('menu.twig')}}



  <div class="sitecontent">

    <div  id="recherche">
      <div class="row">
        <div class="col-12">
          <h6>Ajout ! </h6>
        </div>
      </div>

      <div id="block_recherche">
        <form  method="POST" enctype="multipart/form-data" >






          <input id="nom" required name="nom" type="text" placeholder="Votre nom" />
          <input id="prenom" required name="prenom" type="text" placeholder="Votre prénom" />
          <input id="mail" required name="mail" type="email" placeholder="Votre mail" />
          <input id="num" required name="num" type="text" placeholder="Votre numéro" />
          <input id="adr" required name="adresse" type="text" placeholder="Votre adresse" />
          <input id="type_ven" required name="type_ven" type="text" placeholder="Particulier ? Agence?" />
          <input id="pwd" required name="pwd" type="password" placeholder="Votre mdp" />




          <input id="Ville" required name="ville" type="text" placeholder="Ville bien" />
          <input id="Quartier" required name="quartier" type="text" placeholder="Quartier" />

          <select required name="categorie">
            <option value="" disabled selected>Catégories</option>
            {% for type in type %}
            <option value="{{type.nom_typ}}">{{type.nom_typ}}</option>
            {% endfor %}
          </select>
          <input id="titre" required name="titre" type="text" placeholder="Titre annonce"/>
          <input id="prix" required name="prix" type="number" placeholder="Montant"/>
          <input id="superficie" required name="superficie" type="number" placeholder="Superficie "/>
          <input id="nb_piece" required name="nb_piece" type="number" placeholder="Nombre de piece "/>
          <input id="loc_ann" required name="loc_ann" type="text" placeholder="Location ? Vente ?"/>
          <textarea style="width:90%;" rows="6" name="desc_ann" required placeholder="Description annonce"></textarea>
          <input type="hidden" name="MAX_FILE_SIZE" value="100000">
          <p>Photo du bien</p>
          <input type="file" name="avatar" accept="image/x-png, image/gif, image/jpeg">



          <INPUT TYPE="submit" name="ajout" VALUE="Ajouter">


          </form>
        </div>

      </div>
    </div>
  </body>
  </html>
