<!DOCTYPE html>
<html>
{% for annonce in annonce %}
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{annonce.titre_ann}} - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include ('menu.twig')}}



  <div class="sitecontent">

    <div id="annonce">

      <div class="row">
        <div class="col-12">
          <h5>{{annonce.titre_ann}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8">
          <img src="{{annonce.image_ann}}">

        </div>
        <div class="col-12 col-md-4" >
          <div id="block_contact">

            <h6><strong>{{annonce.prix_ann}} €</strong></h6>

            <br>
            <p>{{annonce.quartier.nom_qua}}</p>
            <p>{{annonce.ville.nom_vil}}</p>
            <hr>
            <h6>Contactez {{annonce.vendeur.nom_ven}} {{annonce.vendeur.prenom_ven}}</h6>
            <div class="row">
              <div class="col-12">
                <img style="width:auto;margin-bottom:10px" src="images/phone.png">
                <p>{{annonce.vendeur.numTel_ven}}</p>
              </div>
              <div class="col-12">
                <img style="width:auto;margin-bottom:10px" src="images/mail.png">
                <form method="post" action="mail">
                  <input type="hidden" name="mail" value="{{annonce.vendeur.mail_adr}}">
                  <input type="hidden" name="titre_ann" value="{{annonce.titre_ann}}">
                  <button class="btn">envoie mail</button>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h6>Description !</h6>
        </div>
        <div class="col-12">
          <p>Superficie :	{{annonce.superficie_ann}}</p>
          <p>Nombre piece :	{{annonce.nbpiece_ann}}</p>
          <p>Location/Vente :	{{annonce.loc_ann}}</p>
          <p>{{annonce.desc_ann}}</p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 col-md-4 alig-c">
          <form method="POST" action="supprimer">
            <input hidden value="{{annonce.id_ann}}" name="id_ann">
            <button class="btn">Supprimer l'annonce</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
