<!DOCTYPE html>
<html>

<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>mail - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include ('menu.twig')}}



  <div class="sitecontent">
    <div id="block_recherche">
      <h6>Le mail a été envoyé à {{envoi.mail}} pour l'annonce {{envoi.titre}}</h6>
      </div>

    </div>

  </body>
  </html>
