<!DOCTYPE html>
<html>

<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>mail - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include ('menu.twig')}}



  <div class="sitecontent">
    <div id="block_recherche">
      <form method="POST">
        <div class="row">
          <label for="name">Destinataire :</label><br />
          <input id="mail" class="input" name="mail" type="text" value="{{mail.mail}}"  /><br />
        </div>
        <div class="row">
          <label for="name">Sujet:</label><br />
          <input id="titre"  class="input" name="titre" type="text" value="{{mail.titre}}"  /><br />
        </div>
        <div class="row">
          <label for="name">Votre nom:</label><br />
          <input id="name" class="input" name="name" type="text" value=""  /><br />
        </div>
        <div class="row">
          <label for="email">Votre mail:</label><br />
          <input id="email" class="input" name="email" type="text" value=""  /><br />
        </div>
        <div class="row">
          <label for="message">Votre message:</label><br />
          <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
        </div>


        <INPUT name="envoi" TYPE="submit" VALUE=" Envoyer ">


        </form>
      </div>

    </div>

    {{include ('footer.twig')}}
  </body>
  </html>
