<ul class="navbar">
  <li><a href="./">Accueil</a></li>
  <li><a href="ajout">Déposer une annonce</a></li>
  <li><a href="annonces">Les annonces</a></li>
  <li><a href="recherche">Recherche</a></li>
  </ul>
