<!DOCTYPE html>
<html>
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>recherche - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include('menu.twig')}}



  <div class="sitecontent">

    <div  id="recherche">
      <div class="row">
        <div class="col-12">
          <h6>Recherche ! </h6>
        </div>
      </div>

      <div id="block_recherche">
        <form  method="POST">

          <select name="categorie">
            <option value="" disabled selected>Catégories</option>
            <option value="all">Toutes</option>
            {% for type in type %}
            <option value="{{type.nom_typ}}">{{type.nom_typ}}</option>
            {% endfor %}
          </select>

          <select name="lieu">
            <option value="" disabled selected>Lieu</option>
            <option value="all" >Tous</option>
            {% for lieu in lieu %}
            <option value="{{lieu.nom_vil}}">{{lieu.nom_vil}}</option>
            {% endfor %}
          </select>


          <input id="mot_cle" name="mot_cle" type="text" placeholder="Mots clés .." />


          <input id="budget_max" name="budget_max" type="number" placeholder="Montant maxi"/>
          <input id="superficie_min" name="superficie_min" type="number" placeholder="Superficie min"/>
          <input id="nb_piece" name="nb_piece" type="number" placeholder="Nombre de piece min"/>

          <select name="tri">
            <option value="" disabled selected>Trier par</option>
            <option value="tri1">Date (- récent au + récent)</option>
            <option value="tri2">Date (+ récent au - récent)</option>
            <option value="tri3">Prix (+ cher au - cher)</option>
            <option value="tri4">Prix (- cher au + cher)</option>
          </select>

          <INPUT TYPE="submit" VALUE=" Recherche ">


          </form>
        </div>

      </div>
    </div>
  </body>
  </html>
