<html>
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>résultats recherche - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>


  {{include ('menu.twig')}}

  <div class="sitecontent" style="width:80%;margin:30px auto 0 auto;">

    <h1 class="alig-c">Résultat(s)</h1>
    <div style="margin-top:40px">
      {% for annonce in rez %}
      <div class="row" id="block_rez" >
        <hr>
        <a href="annonce{{annonce.id_ann}}">
          <div class="col-12 col-md-2"><p>{{annonce.date_ann}}</p></div>
          <div class="col-12 col-md-3"><img src="{{annonce.image_ann}}"></div>
          <div class="col-12 col-md-7"><p>{{annonce.titre_ann}}</p><p>{{annonce.type.nom_typ}}</p><p>{{annonce.ville.nom_vil}}</p><p><strong>{{annonce.prix_ann}}€</strong></p></div>
        </a>
      </div>

      {% endfor %}

      <div class="row">
        <div class="col-12">
          <a href="recherche">Retour à la recherche</a>
        </div>
      </div>


    </div>

  </div>
</body>
