<!DOCTYPE html>
<html>

<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>supprimer - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include ('menu.twig')}}



  <div class="sitecontent">
    <div id="block_recherche">
      <form method="POST">

        <div class="row">
          {% for sup in supprimer %}
          <p>Si vous voulez supprimer l'annonce "{{sup.titre_ann}}" rentrez le mot de passe correspondant !</p>
          <input id="id" class="input" name="id" type="hidden" value="{{sup.id_ann}}"  />
          <input id="pwd" class="input" name="pwd" type="password" value=""  /><br />
          {% endfor %}
        </div>

        <INPUT name="supp" TYPE="submit" VALUE=" Envoyer ">


        </form>
      </div>

    </div>

  </body>
  </html>
