<!DOCTYPE html>
<html>

<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>supprimer - lebonappart</title>
  <meta name="description" content="1kafeyshop">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  {{include ('menu.twig')}}



  <div class="sitecontent">
    <div id="block_recherche">

        <div class="row">
          <p>Le mot de passe ne correspond pas !</p>
          <p><a href="annonce{{sup}}">Retour à l'annonce</a></p>
        </div>


      </div>

    </div>

  </body>
  </html>
