<h1>Liste utilisateurs</h1>

<ul>
    {% for user in users %}
        <li>
          {{ user.username|e }}
          <ul>
            {% for role in user.roles %}
              <li>{{role.name}}</li>
            {% endfor %}
          </ul>

        </li>
    {% endfor %}
</ul>
